body {
    margin: 0;
    padding: 0;
    font: 16px arial, serif;
    min-width: 850px;
    min-height: 450px;
}

header {
    display: block;
    height: 20vh;
    border: 1px solid green;
    min-height: 50px;
}

main {
    height: 70vh;
    min-height: 250px;
}

footer {
    height: 10vh;
    border: 1px solid red;
    vertical-align: bottom;
    /*display: table-cell;*/
    /*padding-bottom: 30px;*/
}

header h1 {
    margin: 0 20px;
    padding: 20px;
    line-height: 100%;
    font-size: 180%;
}


.gallery {
    width: 100%;
    height: 250px;
    border: 1px solid blue;
    /*overflow: hidden;*/
    text-align: center;
}

.gallery a {
    width: 200px;
    min-height: 150px;
    position: relative;
    border: 1px solid red;
    display: none;
}

.gallery a + div {
    display: none;
}

.gallery a .image {
    width: 200px;
    min-height: 150px;
    background-size: contain;
}

.gallery a p {
    display: none;
}

.gallery a:hover p {
    display: block;
    font-size: 70%;
    font-weight: bold;
    /*content: 'aaaa';*/
    /*display: inline-block;*/
    /*width: 250px;*/
    /*min-height: 150px;*/
    /*background-size: contain;*/
    /*transform: scale(1.5);*/
}

.gallery a:hover .over {
    position: absolute;
    top: -10px;
    z-index:1;
    padding: 20px;
    background: #fff;
    /*border: 1px solid green;*/
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.gallery a:hover .image {
    width: 250px;
    height: 200px;
    background-size: contain;
}

/*.gallery a:focus .over {*/
/*box-shadow: none;*/
/*position: fixed;*/
/*left: 0px;*/
/*top: 0px;*/
/*right: 0px;*/
/*bottom: 0px;*/
/*z-index:1;*/
/*background-color: rgba(100, 100, 100, 0.7);*/
/*padding: 0px;*/
/*}*/

/*.gallery a:focus p {*/
/*display: none;*/
/*}*/

/*.gallery a:focus .image {*/
/*width: 70%;*/
/*height: 70%;*/
/*top: 50%;*/
/*left: 50%;*/
/*background-size: contain;*/
/*border: 1px solid blue;*/
/*position: relative;*/
/*transform: translate(-50%, -50%);*/
/*}*/

.o1 .image {
    background: url(img/01.jpg) center no-repeat;
}
.o2 .image {
    background: url(img/02.jpg) center no-repeat;
}
.o3 .image {
    background: url(img/03.jpeg) center no-repeat;
}
.o4 .image {
    background: url(img/04.jpg) center no-repeat;
}
.o5 .image {
    background: url(img/05.jpeg) center no-repeat;
}
.o6 .image {
    background: url(img/06.png) center no-repeat;
}
.o7 .image {
    background: url(img/07.jpg) center no-repeat;
}
.o8 .image {
    background: url(img/08.jpg) center no-repeat;
}
.o9 .image {
    background: url(img/09.jpg) center no-repeat;
}
.o10 .image {
    background: url(img/10.jpg) center no-repeat;
}

.gallery a:focus + div {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index:1;
    background-color: rgba(100, 100, 100, 0.8);
}

.gallery .zoom .image {
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    background-size: contain;
    /*border: 1px solid blue;*/
    position: relative;
    transform: translate(-50%, -50%);
}

.gallery .zoom .cross {
    width: 28px;
    height: 28px;
    background: url(img/cross.png) no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.radio {
    color: #6698ff;
    /*transition: translate 1s;*/
    transform: translateY(200px);
}

.gallery-line {
    position: relative;
    /*width: 2000px;*/
}


#slide1:checked ~ .gallery-line {
    /*transition-property: transform;*/
    /*transition-duration: 0.5s;*/
    /*transform: translateX(0px);*/
    left: 0;
}
#slide1:checked ~ .gallery-line a.slide1{
    display: inline-block;
}
#slide2:checked ~ .gallery-line a.slide2{
    display: inline-block;
}
#slide3:checked ~ .gallery-line a.slide3{
    display: inline-block;
}
#slide4:checked ~ .gallery-line a.slide4{
    display: inline-block;
}

#slide2:checked ~ .gallery-line {
    /*transform: translateX(-600px);*/
    /*left: -600px;*/
    /*transition-property: transform;*/
    /*transition-duration: 0.5s;*/
    /*transform: translateX(-600px);*/
}
#slide3:checked ~ .gallery-line {
    /*transform: translateX(-600px);*/
    /*left: -700px;*/
    /*transition-property: transform;*/
    /*transition-duration: 0.5s;*/
    /*transform: translateX(-700px);*/
}

