h1 {
    color: #000;
    font-size: 120%;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin: 22px 0 22px 0;
}

.aaa {
    text-decoration: underline;
}
body {
    background: url(i/bg.png) repeat-x;
    font-family: Arial, sans;
}

