body {
    margin: 0;
    padding: 0;
    font: 16px arial, serif;
    min-width: 850px;
    min-height: 450px;
}

header {
    display: block;
    height: 20vh;
    min-height: 50px;
}

main {
    height: 70vh;
    min-height: 250px;
}

footer {
    height: 10vh;
    display: table-cell;
    vertical-align: bottom;
}

footer > p {
    margin: 0 0 20px 20px;
    padding: 0;
}

header h1 {
    margin: 0 20px;
    padding: 20px;
    line-height: 100%;
    font-size: 180%;
}


.gallery {
    width: 100%;
    height: 250px;
    text-align: center;
}

.gallery a {
    width: 200px;
    min-height: 150px;
    position: relative;
    display: none;
}

.gallery a + div {
    display: none;
}

.gallery a .image {
    width: 200px;
    min-height: 150px;
    background-size: contain;
}

.gallery a p {
    display: none;
}

.gallery a:hover p {
    display: block;
    font-size: 70%;
    font-weight: bold;
}

.gallery a:hover .over {
    position: absolute;
    top: -10px;
    z-index:1;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.gallery a:hover .image {
    width: 250px;
    height: 200px;
    background-size: contain;
}

.o1 .image {
    background: url(img/01.jpg) center no-repeat;
}
.o2 .image {
    background: url(img/02.jpg) center no-repeat;
}
.o3 .image {
    background: url(img/03.jpeg) center no-repeat;
}
.o4 .image {
    background: url(img/04.jpg) center no-repeat;
}
.o5 .image {
    background: url(img/05.jpeg) center no-repeat;
}
.o6 .image {
    background: url(img/06.png) center no-repeat;
}
.o7 .image {
    background: url(img/07.jpg) center no-repeat;
}
.o8 .image {
    background: url(img/08.jpg) center no-repeat;
}
.o9 .image {
    background: url(img/09.jpg) center no-repeat;
}
.o10 .image {
    background: url(img/10.jpg) center no-repeat;
}
.o11 .image {
    background: url(img/11.jpg) center no-repeat;
}
.o12 .image {
    background: url(img/12.png) center no-repeat;
}
.o13 .image {
    background: url(img/13.jpg) center no-repeat;
}

.gallery a:focus + div {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:1;
    background-color: rgba(100, 100, 100, 0.8);
}

.gallery .zoom .image {
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    background-size: contain;
    position: relative;
    transform: translate(-50%, -50%);
}

.gallery .zoom .cross {
    width: 28px;
    height: 28px;
    background: url(img/cross.png) no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.gallery .radio {
    color: #6698ff;
    /*transform: translateY(200px);*/
}

.gallery .radio {
    /*display: none;*/
    /*transform: translateY(200px);*/
}



.rdo {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #606062;
    background-image: linear-gradient(#474749,#606062);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .15), inset 0 -1px 1px rgba(0,0,0,.15);
    transition: all .15s ease;
    cursor: pointer;
}

.rdo:after {
    content: "";
    position: absolute;
    display: block;
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transform: scale(0);

}


input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"]:checked + .rdo {
    background-color: #606062;
    background-image: linear-gradient(#255CD2,#1D52C1);

}

input[type="radio"]:checked + .rdo:after {
    opacity: 1;
    transform: scale(1);
    transition: all .15s ease;
}



.gallery .radio:before, .gallery .radio:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    background: #D1D7E3;
    /*transform: translateY(200px);*/
}


#slide1:checked ~ .gallery-line a.slide1{
    display: inline-block;
}
#slide2:checked ~ .gallery-line a.slide2{
    display: inline-block;
}
#slide3:checked ~ .gallery-line a.slide3{
    display: inline-block;
}
#slide4:checked ~ .gallery-line a.slide4{
    display: inline-block;
}

